<div class="hero min-h-screen" style="background-image: url('logo.png');">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-6xl font-bold">Glossary</h1>
      <p class="mb-5 p-3 rounded">
        用語を管理するアプリです。<br />
        試験前の用語暗記におすすめです。
      </p>
      <%= link_to "Get Started", user_session_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>