<div class="hero min-h-screen">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-lg">
      <div class="flex justify-center">
        <img src="logo.png" />
      </div>
      <p class="mb-5 p-3 rounded">
        用語を管理するサイトです。<br />
        試験前の用語暗記におすすめです。
      </p>
      <%= link_to "Get Started", user_session_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>