<h1>カテゴリ一覧</h1>

<ul>
  <% @categories.each do |category| %>
    <li>
      <a href="<%= category_path(category) %>">
        <%= category.name %>
      </a>

      <%= button_to "Delete", category_path(category), method: :delete %>
    </li>
  <% end %>
</ul>